@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");

html,body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

nav {
	background-color: #616161;
	padding: 15px;
	width: 100%;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 700;
	position: fixed;
	z-index: 1;
}

nav a {
	color: #E1F5FE;
	text-decoration: none;
	margin: 20px;
	padding: 5px;
	
}

#home, #about, #vrleague, #footer { 
     background-position: coords;
     -webkit-background-size: 'cover';
     -moz-background-size: 'cover';
     -o-background-size: 'cover';
     background-size: 'cover';
			 }

#home {
	background-color: #03A9F4;
	min-height: 1000px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
}

#home article {
	height: 458px;
	position: absolute;
	text-align: center;
	top: 20px;
	width: 100%;
	font-family: 'Lato', sans-serif;
	color: #E1F5FE;
}

#about {
	background: url(../img/ethanpic003.jpg) 45% 50% repeat fixed;
	background-size: cover;
	min-height: 1000px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
}

#about article {
	height: 458px;
	position: absolute;
	text-align: center;
	top: 20px;
	width: 100%;
	font-family: 'Lato', sans-serif;
	color: #E1F5FE;
}

#vrleague {
	background: url(../img/bg2.png) 45% 50% repeat fixed;
	min-height: 1000px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
}

#vrleague article {
	height: 458px;
	position: absolute;
	text-align: center;
	top: 20px;
	width: 100%;
	font-family: 'Lato', sans-serif;
	color: #E1F5FE;
}

#footer {
	background: url(../img/ethanpic001.jpg) 50% 0 repeat fixed;
	min-height: 1000px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
}

#footer article {
	height: 458px;
	position: absolute;
	text-align: center;
	top: 20px;
	width: 100%;
	font-family: 'Lato', sans-serif;
	color: #E1F5FE;
}

#footer h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size: 80px;
	color: #FFFFFF;
	background-color: rgba(0,0,0,0.5)
}

#logo {
	margin: 400px auto 0;
	padding: 0;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

#tagline {
	margin: 400px auto 0;
	padding: 0;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

.main {
	margin: 300px auto 0;
	padding: 70px;
	text-align: center;
	font-size: 24px;
	background-color: rgba(0,0,0,0.5);
}


a {
	text-decoration: none;
	color: #E1F5FE;
}

a.blue {
	color: #03A9F4;
}