@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");

body {
	margin: 0;
	padding: 0;
}

nav {
	background-color: #616161;
	padding: 15px;
	width: 100%;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 700;
	position: fixed;
	z-index: 1;
}

nav a {
	color: #E1F5FE;
	text-decoration: none;
	margin: 20px;
	padding: 5px;
	
}

#home,#brookhaven,#spacepirate,#cyberpong,#recroom,#lightblade,#zombietraining,#universe,#jobsimulator,#vertigo,#hoops,#battledome,#realities,#selfietennis,#euclidean,#skeet,#felttip,#pierhead,#ruckusridge,#chamber,#destinations,#thelab {
	background-position: coords;
     -webkit-background-size: 'cover';
     -moz-background-size: 'cover';
     -o-background-size: 'cover';
     background-size: 'cover';
}

#home {
	background-color: #03A9F4;
	background-size: cover;
	min-height: 1000px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
}

#home article {
	height: 458px;
	position: absolute;
	text-align: center;
	top: 90px;
	width: 100%;
	font-family: 'Lato', sans-serif;
	font-style: italic;
	color: #E1F5FE;
}

#brookhaven {
	background: url(../../img/brookhaven.jpg) 45% 50% repeat fixed;
	background-size: cover;
	min-height: 1000px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
}

#brookhaven article {
	height: 458px;
	position: absolute;
	text-align: center;
	top: 300px;
	width: 100%;
	font-family: 'Lato', sans-serif;
	color: #E1F5FE;
}

#spacepirate {
	background: url(../../img/spacepiratetrainer.jpg) 45% 50% repeat fixed;
	background-size: cover;
	min-height: 1000px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
}

#spacepirate article {
	height: 458px;
	position: absolute;
	text-align: center;
	top: 300px;
	width: 100%;
	font-family: 'Lato', sans-serif;
	color: #E1F5FE;
}

#cyberpong {
	background: url(../../img/cyberpong.jpg) 45% 50% repeat fixed;
	background-size: cover;
	min-height: 1000px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
}

#cyberpong article {
	height: 458px;
	position: absolute;
	text-align: center;
	top: 300px;
	width: 100%;
	font-family: 'Lato', sans-serif;
	color: #E1F5FE;
}

#recroom {
	background: url(../../img/recroom.jpg) 45% 50% repeat fixed;
	background-size: cover;
	min-height: 1000px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
}

#recroom article {
	height: 458px;
	position: absolute;
	text-align: center;
	top: 300px;
	width: 100%;
	font-family: 'Lato', sans-serif;
	color: #E1F5FE;
}

#lightblade {
	background: url(../../img/lightblade.jpg) 45% 50% repeat fixed;
	background-size: cover;
	min-height: 1000px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
}

#lightblade article {
	height: 458px;
	position: absolute;
	text-align: center;
	top: 300px;
	width: 100%;
	font-family: 'Lato', sans-serif;
	color: #E1F5FE;
}

#zombietraining {
	background: url(../../img/zombietrainingsimulator.jpg) 45% 50% repeat fixed;
	background-size: cover;
	min-height: 1000px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
}

#zombietraining article {
	height: 458px;
	position: absolute;
	text-align: center;
	top: 300px;
	width: 100%;
	font-family: 'Lato', sans-serif;
	color: #E1F5FE;
}

#universe {
	background: url(../../img/universesandbox.jpg) 45% 50% repeat fixed;
	background-size: cover;
	min-height: 1000px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
}

#universe article {
	height: 458px;
	position: absolute;
	text-align: center;
	top: 300px;
	width: 100%;
	font-family: 'Lato', sans-serif;
	color: #E1F5FE;
}

#jobsimulator {
	background: url(../../img/jobsimulator.jpg) 45% 50% repeat fixed;
	background-size: cover;
	min-height: 1000px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
}

#jobsimulator article {
	height: 458px;
	position: absolute;
	text-align: center;
	top: 300px;
	width: 100%;
	font-family: 'Lato', sans-serif;
	color: #E1F5FE;
}

#vertigo {
	background: url(../../img/vertigo.jpg) 45% 50% repeat fixed;
	background-size: cover;
	min-height: 1000px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
}

#vertigo article {
	height: 458px;
	position: absolute;
	text-align: center;
	top: 300px;
	width: 100%;
	font-family: 'Lato', sans-serif;
	color: #E1F5FE;
}

#hoops {
	background: url(../../img/hoopsvr.jpg) 45% 50% repeat fixed;
	background-size: cover;
	min-height: 1000px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
}

#hoops article {
	height: 458px;
	position: absolute;
	text-align: center;
	top: 300px;
	width: 100%;
	font-family: 'Lato', sans-serif;
	color: #E1F5FE;
}

#battledome {
	background: url(../../img/battledome.jpg) 45% 50% repeat fixed;
	background-size: cover;
	min-height: 1000px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
}

#battledome article {
	height: 458px;
	position: absolute;
	text-align: center;
	top: 300px;
	width: 100%;
	font-family: 'Lato', sans-serif;
	color: #E1F5FE;
}

#realities {
	background: url(../../img/realities.jpg) 45% 50% repeat fixed;
	background-size: cover;
	min-height: 1000px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
}

#realities article {
	height: 458px;
	position: absolute;
	text-align: center;
	top: 300px;
	width: 100%;
	font-family: 'Lato', sans-serif;
	color: #E1F5FE;
}

#selfietennis {
	background: url(../../img/selfietennis.jpg) 45% 50% repeat fixed;
	background-size: cover;
	min-height: 1000px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
}

#selfietennis article {
	height: 458px;
	position: absolute;
	text-align: center;
	top: 300px;
	width: 100%;
	font-family: 'Lato', sans-serif;
	color: #E1F5FE;
}

#euclidean {
	background: url(../../img/euclidean.jpg) 45% 50% repeat fixed;
	background-size: cover;
	min-height: 1000px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
}

#euclidean article {
	height: 458px;
	position: absolute;
	text-align: center;
	top: 300px;
	width: 100%;
	font-family: 'Lato', sans-serif;
	color: #E1F5FE;
}

#skeet {
	background: url(../../img/skeet.jpg) 45% 50% repeat fixed;
	background-size: cover;
	min-height: 1000px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
}

#skeet article {
	height: 458px;
	position: absolute;
	text-align: center;
	top: 300px;
	width: 100%;
	font-family: 'Lato', sans-serif;
	color: #E1F5FE;
}

#pierhead {
	background: url(../../img/pierhead.jpg) 45% 50% repeat fixed;
	background-size: cover;
	min-height: 1000px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
}

#pierhead article {
	height: 458px;
	position: absolute;
	text-align: center;
	top: 300px;
	width: 100%;
	font-family: 'Lato', sans-serif;
	color: #E1F5FE;
}

#felttip {
	background: url(../../img/felttipcircus.jpg) 45% 50% repeat fixed;
	background-size: cover;
	min-height: 1000px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
}

#felttip article {
	height: 458px;
	position: absolute;
	text-align: center;
	top: 300px;
	width: 100%;
	font-family: 'Lato', sans-serif;
	color: #E1F5FE;
}

#ruckusridge {
	background: url(../../img/ruckusridge.jpg) 45% 50% repeat fixed;
	background-size: cover;
	min-height: 1000px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
}

#ruckusridge article {
	height: 458px;
	position: absolute;
	text-align: center;
	top: 300px;
	width: 100%;
	font-family: 'Lato', sans-serif;
	color: #E1F5FE;
}

#chamber {
	background: url(../../img/chamber19.jpg) 45% 50% repeat fixed;
	background-size: cover;
	min-height: 1000px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
}

#chamber article {
	height: 458px;
	position: absolute;
	text-align: center;
	top: 300px;
	width: 100%;
	font-family: 'Lato', sans-serif;
	color: #E1F5FE;
}

#destinations {
	background: url(../../img/destinations.jpg) 45% 50% repeat fixed;
	background-size: cover;
	min-height: 1000px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
}

#destinations article {
	height: 458px;
	position: absolute;
	text-align: center;
	top: 300px;
	width: 100%;
	font-family: 'Lato', sans-serif;
	color: #E1F5FE;
}

#thelab {
	background: url(../../img/thelab.jpg) 45% 50% repeat fixed;
	background-size: cover;
	min-height: 1000px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
}

#thelab article {
	height: 458px;
	position: absolute;
	text-align: center;
	top: 300px;
	width: 100%;
	font-family: 'Lato', sans-serif;
	color: #E1F5FE;
}

.main {
	margin: 300px auto 0;
	padding: 70px;
	text-align: center;
	font-size: 40px;
}


a {
	text-decoration: none;
	color: #E1F5FE;
}

a.blue {
	color: #03A9F4;
}

.gametext {
	float: center;
	display: inline-block;
	width: 50%;
	font-size: 30px;
	line-height: 40px;
}

h1 {
	font-weight: 700;
	font-style: italic;
}

.opacitybox {
	background-color: rgba(0,0,0,0.5);
	padding: 10px 0 0 0;
}